{{ block title }}
    Vielen Dank!
{{ endblock }}

{{ block styles }}
<style>
    /* Align oTree page title with content container */
    .otree-title, ._otree_content_area > h2:first-child {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }
    .end-container {
        max-width: 760px;
        margin: 0 auto;
    }
</style>
{{ endblock }}

{{ block content }}
<div class="end-container">
    {{ if player.consent }}
        {{ if player.attention }}
            <p>
                Vielen Dank f&uuml;r Ihre Teilnahme an unserer Studie! Ihre Antworten wurden
                erfolgreich gespeichert.
            </p>
            <p>
                <a href="{{ completed }}" class="btn btn-primary">
                    Zur&uuml;ck zu Prolific
                </a>
            </p>
        {{ else }}
            <p>
                Vielen Dank f&uuml;r Ihre Teilnahme. Leider haben Sie die Aufmerksamkeitsfragen
                nicht korrekt beantwortet.
            </p>
            <p>
                <a href="{{ no_attention }}" class="btn btn-secondary">
                    Zur&uuml;ck zu Prolific
                </a>
            </p>
        {{ endif }}
    {{ else }}
        <p>
            Sie haben der Teilnahme nicht zugestimmt. Vielen Dank f&uuml;r Ihr Interesse.
        </p>
        <p>
            <a href="{{ no_consent }}" class="btn btn-secondary">
                Zur&uuml;ck zu Prolific
            </a>
        </p>
    {{ endif }}
</div>
{{ endblock }}
